//COLORS

$bodyBckcolor: #141414;

*{
    margin: 0 auto;
}

.nav__bar{
    background-color: $bodyBckcolor;
    width: 100%;
    display: flex;


   .warner__img{
    width: 90px;
    padding: 15px;
    margin: 0;
    }
    .nav__buttons{
        cursor: pointer;
        margin: auto;
        margin-right: 100px;
        font-size: 12px;
        color:#fff;
        word-spacing: 1.75rem;
        :hover{
            padding: 20px;
        }
    }
}